body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    background-image: url("waterfall.jpg");
    background-size: cover;
}

#calculator{
    display: flex;
    color: white;
    justify-content: center;
    width: 300px;
    height: 500px;
    padding: 50px;
    border: 9px solid; 
    border-radius: 40px;
    background-color: rgb(0, 0, 0, .6); 

}

#content{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    height: 75px;
}

#screen{
    border: 7px solid; 
    width: 310px;
    height: 100px;  
}

.top{
    margin-top: 20mm;
}

.buttons{
    border: solid;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2mm;
}

.zero{
    border: solid;
    height: 60px;
    width: 150px;
}